.row
  .medium-12.columns
    = f.input :name, required: true
  .medium-12.columns
    = f.input :description, required: true
.row
  .medium-6.columns
    = f.label :picture do
      = "Imagen"
      = image_tag f.object.picture.url, class: 'img-responsive img-thumbnail' rescue nil
    = f.file_field :picture, hide_label: true, accept: 'image/*'
