.row.align-center
  .medium-8.medium-centered.columns
    .login-container
      .flat-form
        #login.form-action.show.animated.bounceInDown
          %center
            %h1 Los vecinos
          %br
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: '' } ) do |f|

            .form-group
              .input-group
                .input-group-addon
                  %span.glyphicon.glyphicon-user
                = f.email_field :email, placeholder: t('.enter_email'), autofocus: true, class: 'form-control'
            .form-group
              .input-group
                .input-group-addon
                  %span.glyphicon.glyphicon-lock
                = f.password_field :password, autocomplete: 'off', placeholder: t('.enter_password'), class: 'form-control'
            .text-center
              = f.submit 'Ingresar', class: 'button'
            %center
              - flash.each do |key, value|
                .alert.alert-success
                  = value
