.row
  .medium-12.columns
    = f.input :title, required: true
  .medium-6.columns
    = f.input :url, required: true
  .medium-6.columns
    = f.input :length, required: true

.row
  .medium-6.columns
    = f.label :kind
    .row
      - model.kinds.keys.each do |enum_kind|
        .small-6.columns
          = f.label enum_kind, class: "radio-inline" do
            = f.radio_button :kind, enum_kind, id: "episode_#{enum_kind}"
            = f.label t("activerecord.enum.episode.kind.#{enum_kind.to_sym}"), for: "episode_#{enum_kind}"
  .medium-6.columns
    = f.input :number
.row
  .medium-12.columns
    = f.input :content, required: true

.row
  .medium-6.columns
    = f.label :premiere_at
    = f.text_field :premiere_at, id: "datetimepicker", required: true
  .medium-6.columns
    = f.label :picture do
      = "Imagen"
      = image_tag f.object.picture.url, class: 'img-responsive img-thumbnail' rescue nil
    = f.file_field :picture, hide_label: true, accept: 'image/*'
