.row
  .small-12.medium-5.columns.align-middle
    = mail_to "losvecinosserie@gmail.com", class: "info-link" do
      = "Contacto: losvecinosserie@gmail.com"
    %br
    .small-6.columns
      = link_to image_tag("site/playstore.png"), "https://play.google.com/store/apps/details?id=app.losvecinosserie.co", target: "_blank"
    .small-6.columns
      = link_to image_tag("site/appstore.png"), "https://itunes.apple.com/sv/app/los-vecinos-serie/id1329901247?mt=8", target: "_blank"
    -#
      = link_to "", class: "info-link" do
        = "Legal -"
      = link_to "", class: "info-link" do
        = "Producción"
  .small-12.medium-7.columns
    .row.align-right
      .small-12.medium-6.columns.align-right
        .social-media-text
          Síguenos en redes sociales
      .small-12.medium-6.columns.align-right
        = link_to "https://www.facebook.com/losvecinosserie", class: "social-media", target: "_blank", title: "Facebook" do
          = image_tag "site/fb-icon.png"
        = link_to "https://twitter.com/losvecinosserie", class: "social-media", target: "_blank", title: "Twitter" do
          = image_tag "site/tw-icon.png"
        = link_to "https://www.youtube.com/channel/UCWIF_K7YhMqtbY_hY77KKvA", class: "social-media", target: "_blank", title: "Canal de Youtube" do
          = image_tag "site/play-white.png"
        -# link_to "", class: "social-media", target: "_blank" do
          = image_tag "site/wht-icon.png"
        -# link_to "", class: "social-media", target: "_blank" do
          = image_tag "site/inst-icon.png"
.clearfix
