- if controller_name == "home" && action_name == "index"
  .row
    .medium-12.columns

      #main-menu.top-bar
        .top-bar-left
          %ul.dropdown.menu{"data-dropdown-menu" => ""}
            %li.logo-section
              = link_to image_tag('site/logo.png', class: "logo"), root_url
            %li.logo-section
              %h1
                = "La webserie de los colombianos"
        .top-bar-right
          %ul.header-menu.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
            %li
              %h3
                = link_to "#synopsis" do
                  %span.yellow &nbsp;
                  %span
                    = "Sinopsis"
            %li
              %h3
                = link_to "#all-episodes" do
                  %span.blue &nbsp;
                  %span
                    = "Capítulos"
            %li
              %h3
                = link_to "#main-cast" do
                  %span.red &nbsp;
                  %span
                    = "Elenco"
            %li
              = link_to "https://www.facebook.com/losvecinosserie", class: "social-media", target: "_blank", title: "Facebook" do
                = image_tag "site/fb-icon.png"
              = link_to "https://twitter.com/losvecinosserie", class: "social-media", target: "_blank", title: "Twitter" do
                = image_tag "site/tw-icon.png"
              = link_to "https://www.youtube.com/channel/UCWIF_K7YhMqtbY_hY77KKvA", class: "social-media", target: "_blank", title: "Canal de Youtube" do
                = image_tag "site/play-white.png"

  .clearfix
- else
  .row
    .medium-3.columns.hide-for-small-only
      %h1.action-show
        = link_to "< Regresar", root_url
    .small-12.medium-9.columns
      = link_to image_tag('site/logo.png', class: "logo-alt"), root_url, class: "site-logo"
  .clearfix
