/ Right sidemenu
#skin-select.fixed-nest
  / Toggle sidemenu icon button
  %a#toggle
  / End of Toggle sidemenu icon button
  .skin-part
    #tree-wrap
      / Profile
      .profile

        = link_to image_tag('admin/video-camera.png'), panel_root_url
        = link_to panel_root_url() do
          %h3
            Los vecinos
            %small ADMIN
      / End of Profile
      / Menu sidebar begin
      .fixed-nest-sidebar
        .slimScrollDiv
          .side-bar.sidebar-fixed
            %ul#menu-showhide.topnav.slicknav
              -#
                %li
                  = link_to panel_root_url, class: 'tooltip-tip', id: 'menu-select', title: 'Dashboard' do
                    %i.palette-Deep-Purple-700.bg.ti-desktop
                    %span Dashboard
              %li
                %a.tooltip-tip{:href => "#", :title => "Serie"}
                  %i.intial.palette-Orange-700.ti-mobile.bg
                  %span Serie
                %ul
                  %li
                    = link_to "Listado", panel_web_shows_url()

              %li
                %a.tooltip-tip{:href => "#", :title => "Episodios"}
                  %i.palette-Red-400.bg.ti-image
                  %span
                    Episodios
                %ul
                  %li
                    = link_to "Listado", panel_episodes_url()
                  %li
                    = link_to "Nuevo Episodio", new_panel_episode_url()

              %li
                %a.tooltip-tip{:href => "#", :title => "Elenco"}
                  %i.intial.palette-Amber-700.bg.ti-time
                  %span Elenco
                %ul
                  %li
                    = link_to "Listado", panel_casts_url()
                  %li
                    = link_to "Nuevo integrante", new_panel_cast_url()

              %li
                %a.tooltip-tip{:href => "#", :title => "Suscriptores"}
                  %i.palette-Indigo-700.bg.ti-layout
                  %span
                    Suscriptores
                    -#
                      %small.side-menu-noft New
                %ul
                  %li
                    = link_to "Listado", panel_subscribers_url()
              -#
                %li
                  %a.tooltip-tip{:href => "#", :title => "Usuarios"}
                    %i.intial.palette-Blue-700.bg.ti-book
                    %span Usuarios
                  %ul
                    %li
                      = link_to "Listado", panel_users_url()
                    %li
                      = link_to "Nuevo artículo", new_panel_user_url()




          / end of Menu sidebar
          / bottom chat
