.top-bar-left
  %ul.dropdown.menu.menu-profile.bg-white
    / PROFILE
    %li.bg-white.user-icon-profile
      %i.intial.palette-Indigo-700.bg.ti-user.rounder
    %li.bg-white
      %a.bg-white.text-gray{"data-toggle" => "profile-dropdown"}
        ="Hola, #{current_user.name}"
      #profile-dropdown.dropdown-pane.dropdown-pane-nest.profile-nest.bottom{"data-auto-focus" => "true", "data-dropdown" => ""}
        %ul.menu.vertical.dropdown.profile-dropdown
          %li
            = link_to edit_panel_profile_url(current_user) do
              %i.ti-user.palette-Indigo-500.bg
              Perfil
              %span.text-aqua.fontello-record
          -# %li
          -#   %a{:href => "#"}
          -#     %i.ti-wallet.palette-Blue-700.bg
          -#     Accounts
          %li
            = link_to destroy_user_session_url do
              %i.ti-power-off.palette-Light-Blue-900.bg>
              Salir
    / end of PROFILE
.top-bar-right
  %ul.dropdown.vertical.medium-horizontal.menu.bg-white{"data-dropdown-menu" => ""}
    / Search | has-form wrapper
    -# %li.bg-white
      %form.navbar-form.navbar-left{:role => "search"}
        .dark
        %input.input-top{:placeholder => "search", :type => "text"}/
    / End Of Search | has-form wrapper
    / MESSAGE
    -#
      %li.bg-white
        %a.button.bg-white.float-right{"data-toggle" => "msg-dropdown"}
          %i.ti-agenda.palette-Pink-500.text
          %span.label.edumix-msg-noft.palette-Pink-500.bg 84
        #msg-dropdown.dropdown-pane.dropdown-pane-nest.bottom{"data-auto-focus" => "true", "data-dropdown" => ""}
          %ul.menu.vertical.dropdown.dropdown-wrap
            %li
              .top-dropdown-nest
                %span.label.round.bg-green MESSAGE
                %a{:href => "#"}
                  %h3.text-black
                    Big Boss
                    %b.text-red.fontello-record
                    %span
                      Just Now
                      %small
                  %p.text-black Important task!
            %li
              .slim-scroll
                %div
                  %a{:href => "#"}
                    %h3
                      Noel A. Riley
                      %b.text-green.fontello-record
                      %span
                        12:23
                        %small PM
                %div
                %p
                  Dua dua sayang adik kakak
                  %a{:href => "#"}
                    %h3
                      Shirley J. Carneal
                      %b.text-gray.fontello-record
                      %span
                        10:11
                        %small PM
                    %p Tiga tiga sayang kekasihku
                %div
                  %a{:href => "#"}
                    %h3
                      Paul L. Williamsr
                      %b.text-gray.fontello-record
                      %span Yesterday
                    %p Empat empat sayang semuanya
                %div
                  %a{:href => "#"}
                    %h3
                      William L. Wilcox
                      %b.text-gray.fontello-record
                      %span 2 Days Ago
                    %p Yang jomblo kasian deh lu
            %li.active.right
              %a{:href => "#"}
                .label.bg-white More...
      / end of MESSAGE
      / NOTIFICATION
      %li.bg-white
        %a.button.bg-white.float-right{"data-toggle" => "notf-dropdown"}
          %i.ti-bell.palette-Purple-500.text
          %span.label.edumix-noft.palette-Purple-500.bg 45
        #notf-dropdown.dropdown-pane.dropdown-pane-nest.bottom{"data-auto-focus" => "true", "data-dropdown" => ""}
          %ul.menu.vertical.dropdown.dropdown-wrap
            %li
              .top-dropdown-nest
                %span.label.round.bg-blue ALERT
                %a{:href => "#"}
                  %h3.text-black
                    Sticky Very Important
                    %span.text-red.fontello-record
                  %p.text-black 1 minute ago
            %li
              .slim-scroll
                %div
                  %i.ti-comments-smiley
                  %a{:href => "#"}
                    %h3
                      Announcements
                      %span.text-green.fontello-record
                    %p Just Now !
                %div
                  %i.fontello-attach-1
                  %a{:href => "#"}
                    %h3
                      Complete your profile
                      %span.text-yellow.fontello-record
                    %p 2 Minute Ago
                %div
                  %i.fontello-calendar-1
                  %a{:href => "#"}
                    %h3
                      New Schedule Realease
                      %span.text-yellow.fontello-record
                    %p 30 Minute ago
                %div
                  %i.fontello-database-1
                  %a{:href => "#"}
                    %h3
                      New Student Data
                      %span.text-orange.fontello-record
                    %p 1 Hour ago
                %div
                  %i.fontello-graduation-cap
                  %a{:href => "#"}
                    %h3
                      Graduate Student List
                      %span.fontello-record
                    %p 2 Days ago
            / end of NOTIFICATION
            %li.active.right
              %a{:href => "#"}
                .label.bg-white More...
      %li.bg-white
        %a.bg-white{"data-toggle" => "offCanvas"}
          %i.text-black.ti-menu
    / Right Nav Section
