%section.web-series
  .row
    .small-12.columns
      .the-neighbors
        .video-wrapper
          = YoutubeEmbed.youtube_embed_url(@episode.url, nil, nil).html_safe

  .row.chapter-description
    .small-12.medium-6.medium-offset-1.columns
      .chapter
        .chapter-title
          %h4= @episode.title
          %span= "#{@episode.chapter? ? 'Cap: '+@episode.number.to_s : '' } | #{@episode.length} min"
        .summary-text.hide-for-small-only Sinopsis
        .summary.hide-for-small-only
          = @episode.content
    .small-12.medium-5.columns
      .chapter
        .chapter-play-opt
          .share-chapter
            = image_tag("site/share-btn.png")
