@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import 'foundation_and_overrides';
@import 'colors';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'slick';
@import 'slick-theme';
@import 'socialShare';


.row {
  max-width: 75rem;
}

.login {
  background: #587498;
  height: 100%;
  padding-top: 75px;

  a {
    color: #FF9900;
  }
}

.log-in-form {
  padding: 1rem;

  label{
    color: $white;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h2 {
  color: $white;
  font-size: 3.2rem;
}

h3,
h4 {
  color: $white;
  font-family: 'Covered By Your Grace', cursive;
}

header {
  background: $black;
  padding: 10px;

  h1,
  h2 {
    color: $white;
    font-size: 22px;
    font-weight: 300;
    line-height: 5.5;
  }

}

.clearfix {
  clear: both;
}
.title-bar {
  background: none;
  padding: .9rem;
}

.dropdown.menu {

  a {
    padding: 0;
  }

}

.top-bar {
  display: block;
}

.top-bar .top-bar-right {
  flex: 1 1 auto;
  margin: 38px 0 0 32px;
}

.top-bar .top-bar-left,
.top-bar .top-bar-right {
  display: block;
  float: left;
}

.top-bar .top-bar-left {
  ul {
    display: block;;
    margin: 0;
    li {
      display: inline-block;
      float: left;
    }
  }
}

.header-menu {
  color: $white;
  display: table;

  li {
    border-right: 0;
    display: table-cell;
    padding: 0 5px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: normal;

    .yellow,
    .red,
    .blue {
      width: 2px;
    }

    .yellow {
      background: $yellow;
    }

    .red {
      background: $red;
    }

    .blue {
      background: $blue;
    }

    span {
      display: inline-block;
    }

    h3 {
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    a {
      color: $white;
      padding: .7rem 0;
    }

    .social-media {
      margin: 5px 2px;
      padding: .7rem .5rem;
    }
  }
}


.last-episode {
//  background: url("http://d227xyj983n2jj.cloudfront.net/wp-content/uploads/2013/09/scoring.png") no-repeat top right, -moz-linear-gradient(rgba(208, 208, 208, 1.0), rgba(255, 255, 255, 0.9) 50%, rgba(208, 208, 208, 1.0));
//  box-shadow: 0px 0px 5px rgb(51, 51, 51);
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
}

.site-logo {
  display: block;
  text-align: center;
  width: 100%;
}

.logo-alt {
  margin-right: 15%;
  max-width: 300px;
  width: 100%;
}


.social-media,
.info-link {
  color: $white;
  display: inline-block;
  float: left;
  margin: 5px 10px;
  text-align: right;
  width: auto;
}

#last-episode {
  background: $black;

  .the-last-chapter {
    background: $black;
    background-size: cover;
    min-height: 500px;
    position: relative;

    .floating-image {
      height: auto;
      left: 0;
      opacity: .8;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.all-chapters-link {
  color: $white;
  display: block;
  font-weight: 400;
  line-height: 3;
  margin-bottom: 20px;
  text-align: center;
  z-index: 100;
}

.chapter-preview {
  color: $white;
  padding: 40px 20px;
  z-index: 100;

  span {
    font-size: .9rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  .summary-text {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .summary {

  }
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.input-group {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: flex;
  height: 40px;
  margin-bottom: 1rem;
  width: 100%;
}

.input-group-label:first-child {
  border-right: 0;
}

.input-group>:first-child {
  border-radius: 3px 0 0 3px;
}

.input-group>:last-child>* {
  border-radius: 0 3px 3px 0;
}

.input-group-label {
  -ms-flex: 0 0 auto;
  -ms-flex-align: center;
  align-items: center;
  background: #e6e6e6;
  border: 1px solid #cacaca;
  color: #0a0a0a;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  height: 40px;
  padding: 0 1rem;
  text-align: center;
  white-space: nowrap;

  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

}

.input-group-field {
  -ms-flex: 1 1 0px;
  border-radius: 0;
  height: 40px !important;
  flex: 1 1 0px;
  min-width: 0;
}

.input-group-button {
  -ms-flex: 0 0 auto;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  text-align: center;
  padding-bottom: 0;
  padding-top: 0;
}

.button {
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: .9rem;
  height: 40px;
  line-height: 1;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  text-align: center;
  vertical-align: middle;
}

#synopsis {
  background: $black;
  overflow: hidden;

  h2 {
    font-size: 2.5rem;
    color: $black-beast;
    margin-bottom: 0;
  }

  .summary {
    background: $white;
    padding: 10px 30px;

    p {
      color: $black-beast;
      font-size: .9rem;
    }
  }
}

.social-media-text {
  line-height: 2;
  text-align: right;
}

.image-wrapper {
  height: 100%;
  max-height: 600px;

  .img-synopsis {
    display: block;
    max-width: none;
    overflow: hidden;
    width: 100%;

  }
}

#subscribe {
  background: $black;

  .let-you-know {
    background: image-url('site/bg-whatsapp.png') left center no-repeat;
    color: $white;

    h2 {
      font-size: 2.2rem;
    }

  }
}

.subscribe-form {
  margin: 20px 0;

  .form-wrapper {
    background: $black;
    border: 1px solid $white;
    padding: 10px;

    .message {
      background: $green-success;
      color: $white;
      display: none;
      padding: 5px 10px;
    }
  }
}

input.error {
  border: 3px solid $error;
}

label.error {
  color: $error;
}

#all-episodes {
  background: $black;

  .chapters-wrapper {
    background: image-url('site/fondo-capitulos.png') top center no-repeat $black;
    color: $white;
  }
}

.chapters {
  padding: 40px 20px;

  h2 {
    line-height: 1.5;
    margin: 0;
  }

  .premiere {
    font-size: .9rem;
    font-weight: 300;

    a {
      color: $red-link;
    }
  }
}

.chapter {
  color: $white;
  margin: 40px 0 20px !important;

  .last-chapter-img {
    border: 2px solid $white;
    display: block;
    height: 170px;
    width: 250px;
  }

  .chapter-title {
    display: inline-block;

    h4,
    span {
      display: inline-block;
    }

    h4 {
      font-size: 1.8rem;
      margin-bottom: 0;
    }

    span {
      font-size: .9rem;
      margin-left: 20px;
    }
  }

  .summary-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .summary {
    font-size: .9rem;
    font-weight: 100;
    margin: 5px 0 10px;
  }

  .chapter-play-opt {
    display: inline-block;

    a,
    span,
    p {
      color: $white;
      display: inline-block;
      font-size: .8rem;
      text-transform: uppercase;
    }

    span {
      margin: 0 5px;
    }

    p {
      margin: 0 20px;
    }

  }

}

#main-cast {
  background: $black;
  color: $white;
  padding: 20px;
  text-align: center;
}

.cast-wrapper {
  margin: 35px 0 20px;
}

.cast {
  margin: 10px 15px;
  max-width: 230px;
  padding: 10px;
  text-align: center;
  width: 100%;

  .cast-picture {
    border-radius: 50%;
    display: block;
    height: 180px;
    margin: 0 auto 10px;
    position: relative;
    width: 180px;

    img {
      border-radius: 50%;
      bottom: -100%;
      left: -100%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      right: -100%;
      top: -100%;
    }
  }

  h3 {
    font-size: 2rem;
  }

  a {
    color: $white;
  }

  p {
    color: $white-gray;
    font-size: .9rem;
  }
}

.web-series {
  background: $black;
  p {
    color: $white;
    padding: 20px 0;
  }
}

.share-chapter {
  cursor: pointer;
  display: inline;
}

.the-neighbors {
  margin: 20px auto 0px;
  max-width: 1024px;
  width: 100%;
}

.chapter-description {
  padding-bottom: 30px;
}

.video-wrapper {
  height: 0;
  padding-bottom: 56.25%; // 16:9
  padding-top: 25px;
  position: relative;

  iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

footer {
  background: $footer;
  color: $footer-font;
  padding: 20px 0;

  h2 {
    font-size: 1.3em;
    margin-top: 0;
  }

  h3 {
    font-size: 1em;
    margin-top: 0;
  }

  p {
    font-size: .8em;
  }

  .navbar-form {
    margin: 0 0 20px;
    padding-left: 0;
    width: 100%;

    .input-group {
      width: inherit;
    }
  }

  a {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 100%;

    .footer-image {
      margin: 0 auto;
    }
  }

  ul {
    list-style: none;

    li::before {
      border-color: transparent $footer-font;
      border-style: solid;
      border-width: .35em 0 .35em .45em;
      content: '';
      display: block;
      height: 0;
      left: -1em;
      position: relative;
      top: .9em;
      width: 0;
    }

    li {
      font-size: .9em;
      padding: 0 0 7px;
    }
  }
}

.top-bar {
  background: none;
  overflow: visible;

  ul {
    background: none;

    li {
      background: none;

      a {
        background: none;
        color: $white;
      }
    }
  }
}

.dropdown.menu .submenu {
  border: 0;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: $white transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent $white;
}

.js-drilldown-back::before {
  border-color: transparent $white transparent transparent;
}


@media only screen and (max-width: 1024px) {

  .logo {
    max-width: 280px;
  }

  .header-menu {
    li {
      h3 {
        font-size: 1.1rem;
      }
    }
  }

  header {
    h2 {
      font-size: .9rem;
      text-align: center;
    }
  }

  .top-bar .top-bar-right {
    margin: 25px 0 0 10px;

  }

}

@media only screen and (max-width: 800px) {
  .header-menu {
    li {
      .social-media {
        margin: 0 0 0 20px;
      }
    }
  }
}

@media only screen and (max-width: 640px) {

  header {
    h1 {
      font-size: 1.2rem;
      line-height: 2;
      text-align: center;
    }

    .logo-section {
      width: 100%;
    }

  }

}

@media only screen and (max-width: 480px) {

  .chapter-preview {
    h3 {
      font-size: 2.2rem;
      line-height: 1.5;
    }
  }

  .view-last-chapter {
    display: block;
    margin: 30px auto 10px;
    text-align: center;
  }

  #synopsis {
    .summary {
      p {
        font-size: .85rem;
      }

      a {
        display: block;
        margin: 30px auto 15px;
        text-align: center;
      }
    }
  }

  .cast {
    margin: 10px 5px;
  }

  .chapters {
    h2 {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 20px;
    }
  }


  .chapter {
    margin: 20px 0;

    .last-chapter-img {
      display: block;
      margin: 0 auto 20px;
    }

    .chapter-title {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .chapter-play-opt {
      display: block;
      margin: 10px auto 0;
      text-align: center;
    }

  }

  .let-you-know {
    h2 {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  h2 {
    font-size: 2rem;
    line-height: 1.5;
  }

  .top-bar .top-bar-right {
    margin: 0 0 0 10px;
  }

  .logo-alt {
    margin: 0 auto;
  }


  .header-menu {
    display: inline-block;

    li {
      display: inline-block;

      .social-media {
        margin: 5px 12px;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .play-chapter,
  .share-chapter {
    padding: 10px 10px 15px;
  }


}
