$white: #fff;
$white-hover: #f2f2f2;
$white-gray: #ddd;
$footer: #ae0502;
$footer-font: #fff;
$header-titles: #2567a8;
$gray: #9b9cb1;
$gray-title: #474747;
$header-background: #294ce3;
$soft-black: #333;
$red: #830402;
$red-link: #ed1c24;
$black: #000;
$yellow: #aeaa0b;
$blue: #000299;
$black-beast: #666;
$green-success: #39b54a;
$error: #cc4b37;
