%br
.row
  .small-12.medium-12.large-12
    .callout.secondary
      .row
        .medium-9.columns
          %h4= model.model_name.human(count: :many)
        .medium-3.columns
          = link_to panel_subscribers_url(format: :csv), target: "_blank", class: 'success button no-margin float-right' do
            %span.glyphicon.glyphicon-plus
            Exportar a CSV
    %table.table.table-hover.table-striped.simple-data-table
      %thead
        %tr
          %th{ width: '40%' } Telefono
          %th{ width: '20%' } Creado el

      %tbody
        - @items.each do |item|
          %tr
            %td
              = item.phone
            %td
              = item.created_at
