.row
  .medium-12.columns
    = f.input :title, required: true
  .medium-12.columns
    = f.input :synopsis, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }

.row
  .medium-6.columns
    = f.label :world_premiere
    = f.text_field :world_premiere, id: "datetimepicker", required: true
  .medium-6.columns
    = f.label :poster do
      = "Imagen"
      = image_tag f.object.poster.url, class: 'img-responsive img-thumbnail' rescue nil
    = f.file_field :poster, hide_label: true, accept: 'image/*'
