%section.web-series
  .row
    .small-24.columns
      %h2= @cast.name
      %br
      .row
        .small-4.columns
          = link_to image_tag(@cast.picture.url), nil , class: "cast-picture"
        .small-8.columns
          %p
            = @cast.description.html_safe
      %br
