
!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Administrador Portal Serie Los Vecinos
    = csrf_meta_tags
    = stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin/preload', 'data-turbolinks-track': 'reload'

    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDHt7vrI9b3Ze5nGXaCPrlaBzR-Saqg4G8"}
  %body
    #preloader
      #status  
    .off-canvas-wrapper.over-flow-hidden
      .off-canvas-wrapper-inner{"data-off-canvas-wrapper" => ""}
        .inner-wrap
          = render 'layouts/admin/left_bar'
          #paper-bg.wrap-fluid
            #example-menu.top-bar
              = render 'layouts/admin/top_bar'
            = render 'layouts/admin/notice'
            = yield
          = render 'layouts/admin/right_bar'
    = javascript_include_tag 'admin/application'
