!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    %meta{ name: 'robots', content: 'noindex' }
    %meta{ name: 'title', content: 'Serie web Los Vecinos' }
    %meta{ name: 'description', content: 'Serie web Los Vecinos, la serie favorita de Colombia.' }

    %title= content_for?(:title) ? yield(:title) : "Los Vecinos - serie web"
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag
    - if Rails.env.production?
      %script{ async: true, src: 'https://www.googletagmanager.com/gtag/js?id=UA-110461345-1' }
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());
        gtag('config', 'UA-110461345-1');

  %body
    %header
      = render partial: "layouts/site/header"
    = yield
    %footer
      = render partial: "layouts/site/footer"
    = javascript_include_tag "application"
